.nav-breadcrumb {
  background-color: teal; }
  .nav-breadcrumb .breadcrumb {
    background-color: transparent;
    margin-bottom: 0; }
    .nav-breadcrumb .breadcrumb .breadcrumb-item a {
      padding: 6px;
      font-weight: bold;
      color: #fff;
      text-decoration: none; }
    .nav-breadcrumb .breadcrumb .breadcrumb-item.active a, .nav-breadcrumb .breadcrumb .breadcrumb-item:hover a {
      color: var(--mainColor); }
    .nav-breadcrumb .breadcrumb::before {
      content: ''; }

/* about-us */
.about-us {
  padding: 60px 10px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
  background-color: #eee; }
  .about-us p {
    min-width: 70%;
    margin: auto;
    padding-top: 20px; }

/* about-boss */
.about-boss {
  margin: 20px 0; }
  .about-boss .image {
    height: 250px; }
    .about-boss .image img {
      border: 4px solid #fff;
      transform: translateX(27px);
      position: relative;
      z-index: 33;
      height: 100%; }
      @media (max-width: 574px) {
        .about-boss .image img {
          transform: translateY(22px); } }
      @media (min-width: 575px) and (max-width: 767px) {
        .about-boss .image img {
          transform: translateY(20px); } }
      @media (min-width: 768px) and (max-width: 991px) {
        .about-boss .image img {
          height: 100%;
          transform: translateX(36px); } }
    @media (min-width: 768px) and (max-width: 991px) {
      .about-boss .image {
        height: 600px; } }
  .about-boss h2 {
    color: teal;
    text-transform: uppercase; }
  .about-boss .boss-text {
    background-color: rgba(51, 51, 51, 0.856);
    padding: 20px 30px 0; }
  .about-boss p {
    color: #ffffff;
    text-align: justify;
    line-height: 2; }
  .about-boss button {
    border-radius: 15px;
    width: 200px;
    margin-bottom: 10px; }

.help {
  background-color: #eee;
  padding: 40px 0; }
  .help h4 {
    padding: 20px 10px 10px; }
  .help i {
    margin-top: 20px; }
  .help .fa-html5 {
    color: #f47933; }
  .help .fa-css3-alt {
    color: #264de4; }
  .help .fa-js-square {
    color: #f0db4f; }
  .help .fa-vuejs {
    color: #65c499; }

/* SATRT FAQ Page */
.faq .img-faq {
  position: relative;
  opacity: 0.6;
  margin-bottom: 20px;
  padding: 20px; }
.faq h1 {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  top: 43%;
  left: 100px; }
  @media (max-width: 574px) {
    .faq h1 {
      top: 183px;
      left: 84px;
      font-size: 26px; } }
  @media (min-width: 575px) and (max-width: 767px) {
    .faq h1 {
      top: 202px;
      left: 76px;
      font-size: 26px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .faq h1 {
      top: 202px;
      left: 190px; } }

.faq-quetions {
  margin-bottom: 60px; }
  .faq-quetions .card {
    border: none; }
  .faq-quetions .card-header {
    padding: 0;
    background: none;
    border-bottom: 1px solid var(--mainColor); }
  .faq-quetions h2 {
    padding: 10px 0 0; }
  .faq-quetions .btn-link {
    color: #000;
    font-size: 17px;
    font-weight: bold; }
    .faq-quetions .btn-link::after {
      content: '+';
      float: right;
      font-weight: bold;
      font-size: 18px; }
    .faq-quetions .btn-link.collapsed::after {
      content: '-';
      float: right;
      font-weight: bold;
      font-size: 18px; }

.card-body {
  font-size: 18px;
  background-color: #eee; }

/* end  FAQ */
/* About-query  */

/*# sourceMappingURL=pages.css.map */
